doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(
      rel='stylesheet',
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==",
      href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css",
      crossorigin=""
    )
    script(
      src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js",
      integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
      crossorigin=""
    )
    script(
      src="/javascripts/countries.js",
    )
  body
    block content
